<app-header></app-header>
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../../../assets/images/soldier3.png);">

    <div class="login-box">
        <h2>Login</h2>

        <form class="form-horizontal form-material"
        [formGroup]="loginForm" 
        (ngSubmit)="login()"
        id="loginform">

          <div class="user-box">
             <input type="email" formControlName="email" placeholder="Email">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" formControlName="password" placeholder="Contraseña">
            <label>Password</label>
          </div>
          <div class="user-box">
            <div class="text-center">
                ¿No tines una cuenta todavía? <a routerLink="/api/register"><b>Sign Up</b></a>
            </div>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>
      </div>
</section>

