<app-header></app-header>

<div id="wrapper" class="container-fluid login-register login-sidebar"
    style="background-image:url(../../../assets/images/soldier3.png);">

    <div class="login-box">
        <h2>Register</h2>

        <form [formGroup]="registerForm" (ngSubmit)="crearusuario()" id="loginform">

            <div class="user-box">
                <input type="text" name="" formControlName="username">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="email" name="" formControlName="email">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" formControlName="password">
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="password" formControlName="password2">
                <label>Repeat password</label>
            </div>

            <div class="user-box">
                <div class="text-center">
                    ¿Ya tienes una cuenta? <a routerLink="/api/login"><b>Login</b></a>
                </div>
              </div>

            <div class="row">
                <div class="col text-danger">
                    <p *ngIf="campoNoValido('username')">*El nombre es obligatorio.</p>
                    <p *ngIf="campoNoValido('email')">*El email es obligatorio.</p>
                    <p *ngIf="invalidPassword()">*Las contraseñas no coinciden.</p>
                </div>

            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register
            </button>
        </form>
    </div>

</div>
