<form (ngSubmit)="searchPlayer()">

  <div class="container">
    <div class="row platformBox">

      <div class="col-lg-3" [ngClass]="{'active': platform === 'acti'}">
        <label for="acti">
          <div class="platform-item__logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Activision.svg" alt="" />
          </div>
          <input type="radio" id="acti" class="radio" value="acti" name="platform"
            (change)="radioChangeHandler($event)" />
          <p>Activision ID</p>
        </label>
      </div>

      <div class="col-lg-3" [ngClass]="{'active': platform === 'psn'}">
        <label for="psn">
            <div class="platform-item__logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/PlayStation_logo.svg" alt="" />
            </div>
          <input type="radio" id="psn" class="radio" value="psn" name="platform"
            (change)="radioChangeHandler($event)" />
          <p>PlayStation</p>
        </label>
      </div>

      <div class="col-lg-3" [ngClass]="{'active': platform === 'battle'}">
        <label for="battle">
            <div class="platform-item__logo">
              <img src="https://static.wikia.nocookie.net/logopedia/images/f/f6/Battle.net_2021_Icon.svg" alt="" />
            </div>
          <input type="radio" id="battle" class="radio" value="battle" name="platform"
            (change)="radioChangeHandler($event)" />
          <p>Battle.net</p>
        </label>
      </div>

      <div class="col-lg-3" [ngClass]="{'active': platform === 'xbl'}">
        <label for="xbl">
            <div class="platform-item__logo">
              <img src="../../../assets/images/xbox-logo.png" alt="" />
          </div>
          <input type="radio" id="xbl" class="radio" value="xbl" name="platform"
            (change)="radioChangeHandler($event)" />
          <p>XboxLive</p>
        </label>
      </div>

    </div>

      <div class="col-lg-12 col-xs-6 colSearch">
        <input type="search" value placeholder="Introduce tu id" class="input-search" name="gametarg"
          [(ngModel)]="gametarg" />
        <button type="button" class="btn" [routerLink]="['/api/player', gametarg, platform]">Buscar</button>
      </div>

    </div>
</form>