.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
}

.platformBox {
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
}

.col-lg-3 {
  flex: 2 0 auto;
  width: 140px;
  max-width: 140px;
  min-width: 140px;
  height: 45px;
  border: solid 1px #2b2b2b;
  border-radius: 25px;
  background-color: rgb(66, 66, 66);
  padding: 0;
  margin: 5px;
  input {
    appearance: none;
    visibility: hidden;
    position: absolute;
    right: 0;
  }
}

label {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  p {
    color: #fff;
    margin: 0 5px;
  }
}

.platform-item__logo {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  img {
    width: 20px;
    object-fit: contain;
  }
}

.active {
  border: 1px solid rgb(148, 148, 148);
  background: linear-gradient(
    45deg,
    rgb(0, 139, 42) 45%,
    rgb(113, 197, 117) 100%
  );
}

.searchBox {
  width: auto;
}

.rowSearch {
  width: 90%;
}

.colSearch {
  display: flex;
}

.btn-primary {
  border-color: rgb(42, 175, 30);
  background-color: rgb(70, 165, 51);
}


// .title {
//     text-align: center;
//     padding-top: 30px;
//     text-transform: uppercase;
//     font-size: 50px;
//     font-weight: 800;
//     line-height: 60px;
//     font-family: 'Poppins', sans-serif;
// }

// .subtitle {
//     text-align: center;
//     text-transform: uppercase;
//     font-size: 18px;
//     font-family: 'Poppins', sans-serif;
// }

// .color-text {
//     -webkit-text-stroke: 1px rgb(14, 172, 0);
//     color: #f1f1f1;
// }

// label {
//     width: 150%;
// }

// .platform-item_white {
//     display: flex;
//     margin: auto;
//     background-color: white;
//     border-radius: 50%;
// }

// .platform-container__item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 10px;
//     padding: 10px;
//     background-color: #313131;
//     border-radius: 20px;
//     height: 60px;
//     cursor: pointer;
//     border: 0.5px rgb(78, 78, 78) ridge;
//     box-sizing: border-box;
//     box-shadow: 3px 3px 8px rgba(71, 72, 75, 0.4);

// }
// .platform-container__item:hover {
//     background-color: #3b3b3b;
// }

// .platform-name {
//     display: flex;
//     justify-content: center;
//     color: #f1f1f1;
// }

// .search-container {
//     display: flex;
//     justify-content: center;
//     padding: 20px;
//     margin: 20px 10px;
//     border-radius: 20px;
//     background-color: #313131;
// }

// .form-control {
//     width: 80%;
// }
