
    <div class="row">
        <div class="col-12">

            <h1 class="text-center">{{ usuario.username | uppercase }}</h1>
              <p class="text-center">{{ usuario.email }}</p>

            <div class="text-center">
                <div class="avatar">
                    <label for="file-upload">
                        <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar" />
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
                    </label>
                    <input id="file-upload" type="file" (change)="changeImg($any($event.target).files[0])" />
                </div>

                <br />
                <br />

                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!changeImg"
                    (click)="uploadImg()">
                    <i class="fa fa-save"></i> Subir archivo
                </button>
            </div>

        </div>
    </div>
