
$breakpoint-small: 576px;
$breakpoint-medium: 992px;


input {
  display: none;
}



img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform .5s;
  margin-top: 20px;
}

img:hover {
    transform: scale(105%);
}

h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 226, 62),
    rgb(255, 145, 0) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800; 
  margin-top: 20px;
}


@media (max-width: $breakpoint-medium) {
  img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: $breakpoint-small) {
  img {
    width: 200px;
    height: 200px;
  }
}