input {
  display: none;
}


img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform .5s;
  margin-top: 20px;
}

img:hover {
    transform: scale(105%);
}

h1 { 
    margin-top: 20px;
}
