<!-- <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-6 background"></div>
        <div class="col-6 search"></div>
    </div>
</div> -->

<!-- /////// -->

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
    
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                
<div class="mb-5 mb-lg-0 text-center">
    <h1 class="display-1 lh-1 mb-3">Comprueba tus estadísticas generales y diarias</h1>
    <p class="lead fw-normal text-muted"> Compara, analiza y supérate para ser el mejor</p>
  </div>
                <app-search></app-search>
            </div>
            
        </div>
    </div>
</header>

