<!-- <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-6 background"></div>
        <div class="col-6 search"></div>
    </div>
</div> -->

<!-- /////// -->

<div class="masthead">
    <div class="container">
        <!-- Mashead text and app badges-->
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Comprueba tus <br> estadísticas <br> generales <br> y diarias</h1>
            </div>
            <div class="col-12">
                <p class="text-center pb-3"> Compara, analiza y supérate para ser el mejor</p>
            </div>
        </div>   
    </div>
    <app-search></app-search>
</div>

