/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;600;700;800&family=Oswald:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}


$colors: (
    'yellow-primary': #ffd903,
    'syellow-secondary': #ffee02,
    'black-primary': #202020,
    'black-secondary': #161616,
    'white': #ffffff,

);


body {
    font-family: 'Archivo', sans-serif;
    color: map-get($colors, 'white' );
    background-color: map-get($colors, 'black-secondary' )
}
